.resume__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 1000px;
  font-family: arial;
  transition: 0.3s;
  color: rgba(0, 0, 0, 0.54);
  padding: 40px;
  overflow: hidden;
  border-radius: 15px;
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: aliceblue;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: block;
}

.card--active {
  position: relative;
  transition: opacity 0.3s ease-in-out;
  top: 130px;
  opacity: 1;
}

#pic {
  width: 200px;
  height: 300px;
  float: right;
  margin-right: 100px;
  margin-top: 20px;
  transform: rotate(-15deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border: 15px solid white;
}

#pic:hover {
  transform: translateY(-8px);
}

h1 {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -2px;
  border-bottom: 1px solid black;
  margin-top: 40px;
}

#objective {
  width: 500px;
  float: left;
}
#objective p {
  font-family: Georgia, Serif;
  font-style: italic;
  color: #666;
  font-size: 20px;
  line-height: 30px;
}

.fn {
  color: black;
}

.resume__content {
  display: flex;
  flex-direction: column;
}

.content__item {
  min-width: 1000px;
  min-height: 150px;
}

.resume__header {
  min-height: 360px;
}

dt {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  padding: 0 26px 0 0;
  width: 150px;
  float: left;
  height: 100px;
  border-right: 1px solid #999;
}

dd {
  width: 600px;
  float: left;
  font: 16px Helvetica, Sans-Serif;
  display: block;
  margin-inline-start: 40px;
}

dd.clear {
  float: none;
  margin-top: 0;
  height: 15px;
}

dd h2 {
  margin-top: 0;
}

dd ul {
  padding: 10px;
}

@media (max-width: 991px) {
  .resume__card {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 130px;
    padding-top: 30px;
  }

  .content__item {
    min-width: 450px;
    min-height: 150px;
  }

  dt {
    text-align: left;
    padding: 0 26px 0 0;
    float: left;
    height: 30px;
    border-right: none;
    border-bottom: 1px solid #999;
  }

  dd {
    width: 500px;
    float: left;
    font: 16px Helvetica, Sans-Serif;
    display: block;
    margin-inline-start: none;
    padding-top: 20px;
  }

  #objective p {
    margin-right: 50px;
  }

  @media (max-width: 480px) {
    .resume__card {
      padding: 150px;
      width: 100%;
    }

    dd {
      width: 300px;
    }
  }
}
